body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2f3132, #2f3737);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background: rgb(86, 53, 53);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #5d6166;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #4e4040;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background: #40474f;
    color: rgb(157, 131, 131);
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    transition: 0.3s;
    border: none;
    padding: 10px;
    width: 100%;
}

input[type="submit"]:hover {
    background: #2d3237;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}
